.derectives-wrapper {
  border: 2px solid var(--dark-color);
  border-radius: 4px;
  margin-top: 50px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  width: calc(100dvw - 50px);
  justify-content: space-evenly;

  h4 {
    border-bottom: 1px solid var(--dark-color);
  }
}

.derectives {
  border: 1px solid var(--dark-color);
  border-radius: 4px;
  padding: 15px;
  background: grayscale($color: #5a5151);
}

.style-with-derectives {
  background-color: aqua;
}
