.object-list {
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 10px;
  background: var(--dark-color);
  margin-top: 50px;
  border-radius: 4px;
}

.object-list-item {
  border: 1px solid var(--neon);
  box-shadow: 0 0 50px var(--neon-glow), inset 0 0 10px var(--neon-glow);
  padding: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: translateY(3px);
  }
}

@media screen and (min-width: 600px) {
  .object-list {
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
  }
}
