<div class="calculator">
  <h1 class="neon-blue">Calculator</h1>

  <div class="calculator_container">
    @for (group of calcGroups; track $index) {
    <div class="calculator__group">
      <select [(ngModel)]="group.first.modificator" class="calculator__input">
        @for (modificator of calcModifiers | keyvalue; track $index) {
        <option [value]="modificator.value">
          {{ modificator.value }}
        </option>
        }
      </select>
      <input
        type="number"
        class="calculator__input"
        [(ngModel)]="group.first.value"
      />
      <select [(ngModel)]="group.operation" class="calculator__input">
        @for (operation of calcOperations | keyvalue; track $index) {
        <option [value]="operation.value">{{ operation.value }}</option>
        }
      </select>
      <select [(ngModel)]="group.second.modificator" class="calculator__input">
        @for (modificator of calcModifiers | keyvalue; track $index) {
        <option [value]="modificator.value">{{ modificator.value }}</option>
        }
      </select>
      <input
        type="number"
        class="calculator__input"
        [(ngModel)]="group.second.value"
      />
      @if ($index != 0) {<button
        class="btn neon-blue remove_btn"
        (click)="removeGroup($index)"
      >
        Remove</button
      >}
    </div>

    @if (operationsBetweenGroups.length > $index) {

    <select
      class="operating_between_groups"
      [(ngModel)]="operationsBetweenGroups[$index]"
    >
      @for (operation of calcOperations | keyvalue; track $index) {
      <option [value]="operation.value">{{ operation.value }}</option>
      }
    </select>

    } }
  </div>
  <div class="calculator__result_container">
    <span class="calculator__result neon-blue">
      Result: {{ result ? result : "Press Calculate" }}</span
    >
    <button class="btn neon-blue" (click)="calcGproup()">Calculate</button>
  </div>

  <div>
    <button class="btn neon-blue" (click)="addGroup()">Add group</button>
  </div>
  <div class="calculator__history">
    <span class="neon-blue">History</span>
    <span class="neon-blue" *ngFor="let obj of history; let i = index"
      >{{ i + 1 }}. {{ obj }}</span
    >
  </div>
</div>
