.calculator {
  border: 1px solid black;
  background: rgb(221, 217, 217);
  padding: 20px;
  border-radius: 6px;
  width: fit-content;
}

.calculator_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.operating_between_groups {
  width: fit-content;
}
