.calculator {
  border: 1px solid black;
  background: #f8f9fa;
  padding: 20px;
  border-radius: 6px;
  width: fit-content;
  color: var(--text-color);
}

.calculator_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.operating_between_groups {
  width: fit-content;
}

.calculator__history {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
