.forms-wrapper {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 2fr));
  width: 95dvw;
  padding: 20px;
}

.login-form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px solid var(--dark-color);
  padding: 20px;
  border-radius: 4px;
}

.login-form-wrapper__block {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.required {
  margin-left: 5px;
  font-size: 14px;
  font-weight: 500;
}

.login-form-builder {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.dinamic-input {
  width: 20%;
  height: 30px;
}
