.login-form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px solid var(--dark-color);
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.login-form-wrapper__block {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.required {
  margin-left: 5px;
  font-size: 14px;
  font-weight: 500;
}

.login-form-builder {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
