<h1>Basic RxJS</h1>
<div>
  <h3>Observable, Observer, Pipe, map</h3>
  <div>Male avege age - {{ maleAvegeAge$ | async }}</div>
</div>
<div>
  <h3>Users from jsonplaceholder</h3>
  @if (usersFromjsonplaceholder$) { @for(user of usersFromjsonplaceholder$ |
  async; track user.id){
  <div>
    <span>{{ user.name }} - {{ user.email }}</span>
    <br />
    <span>{{ user.address.city }} - {{ user.address.zipcode }}</span>
  </div>
  }}@else{
  <div>Loading...</div>
  }
</div>
<app-subject></app-subject>
