<h1>Basic RxJS</h1>

<h3>Observable, Observer, Pipe, map</h3>
<div>Average male age - {{ maleAvegeAge$ | async }}</div>

<h3>Users from jsonplaceholder</h3>
<div class="users-wrapper">
  @if (usersFromjsonplaceholder$) { @for(user of usersFromjsonplaceholder$ |
  async; track user.id){
  <div class="users-list">
    <span>Name - {{ user.name }}</span>
    <span>Email - {{ user.email }}</span>
    <span> City - {{ user.address.city }}</span>
  </div>
  }}@else{
  <div>Loading...</div>
  }
</div>

<app-subject></app-subject>
