<h1>Ng-container & Ng-templaete</h1>
<div class="wrapper">
  <ng-container *ngFor="let item of arr">
    <p>{{ item }}</p>
  </ng-container>
  <p>First</p>
  <p *ngIf="isShow; else second">Second true</p>
  <p>Third</p>
  <button (click)="changeShow()" class="btn">Click</button>
</div>
<ng-template #second>Second false</ng-template>

<h1>ViewChild, ViewChildren</h1>
<div class="wrapper">
  <p #paragraph>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
  <app-child-decorator #component></app-child-decorator>
  <app-child-decorator></app-child-decorator>
  <app-child-decorator></app-child-decorator>
</div>
<div class="wrapper">
  <app-child-decorator>
    <p #childParagraph>Content works</p>
  </app-child-decorator>
</div>
