.rate {
  &__text {
    font-size: 20px;
    margin: 10px 0;
  }

  &__wrapper {
    display: flex;
    gap: 7px;
  }

  &__wrapper__item {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid var(--dark-color);
    transition: background-color 0.3s ease;
    cursor: pointer;
  }

  &__active {
    background-color: var(--gray-color);
  }
}
