/* You can add global styles to this file, and also import other style files */
:root {
  --dark-color: #000000;
  --light-color: #ffffff;
  --gray-color: #5f646d;
  --dark-hover-color: #161616;
  --text-color: #343a40;
  --light-transparent-color: rgba(255, 255, 255, 0.75);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #00a3d5;
}

.neon-blue {
  --neon: #2dd9fe;
  --neon-glow: #00a3d5;
}
.btn {
  color: var(--dark-color);
  cursor: pointer;
  border-radius: 4px;
  padding: 4px;
  outline: none;
  border: 1px solid var(--neon);
  box-shadow: 0 0 50px var(--neon-glow), inset 0 0 60px var(--neon-glow);
  transition: all 0.2s ease;
}

.btn:hover {
  color: var(--ligth-color);
}

.btn:active {
  background: #495057;
  transform: translateY(2px);
}

h1,
h4,
span {
  color: var(--neon);
  text-shadow: 0 0 50px var(--neon-glow), 0 0 20px var(--neon-glow);
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}
