<nav class="navigation" [class.active]="isNavShow">
  <button class="btn neon-blue" (click)="toggleLogin()">
    {{ loginState ? "Logout" : "Login" }}
  </button>
  <a
    [routerLink]="['/calculator']"
    routerLinkActive="activeLink"
    class="nav-link neon-blue"
    (click)="toggleNav()"
    >Calculator</a
  >

  <a
    [routerLink]="['/object-list']"
    routerLinkActive="activeLink"
    class="nav-link neon-blue"
    (click)="toggleNav()"
    >Object list</a
  >

  <a
    [routerLink]="['/derectives']"
    routerLinkActive="activeLink"
    class="nav-link neon-blue"
    (click)="toggleNav()"
    >Derectives</a
  >

  <a
    [routerLink]="['/life-cycle']"
    routerLinkActive="activeLink"
    class="nav-link neon-blue"
    (click)="toggleNav()"
    >Life Cycle and Data transfers</a
  >

  <a
    [routerLink]="['/requests']"
    routerLinkActive="activeLink"
    class="nav-link neon-blue"
    (click)="toggleNav()"
    >Requests and Services</a
  >
  <a
    [routerLink]="['/animations']"
    routerLinkActive="activeLink"
    class="nav-link neon-blue"
    (click)="toggleNav()"
    >Animations and Signal</a
  >

  <a
    [routerLink]="['/pipes']"
    routerLinkActive="activeLink"
    class="nav-link neon-blue"
    (click)="toggleNav()"
    >Pipes</a
  >

  <a
    [routerLink]="['/forms']"
    routerLinkActive="activeLink"
    class="nav-link neon-blue"
    (click)="toggleNav()"
    >Forms</a
  >

  <a
    [routerLink]="['/dynamic']"
    routerLinkActive="activeLink"
    class="nav-link neon-blue"
    (click)="toggleNav()"
    >ng-template & ng-container</a
  >
</nav>

<button class="menu-toggle" aria-label="Navigation Menu" (click)="toggleNav()">
  <span [innerHTML]="isNavShow ? '&#10006;' : '&#9776;'"></span>
</button>
<!-- <button class="menu-toggle" aria-label="Navigation Menu" (click)="toggleNav()">
  <span>{{ isNavShow ? "&#9776;" : "&#10006;" }}</span>
</button> -->
