<nav class="navigation" [class.active]="isNavShow">
  <a
    [routerLink]="['/calculator']"
    routerLinkActive="activeLink"
    class="nav-link neon-blue"
    >Calculator</a
  >

  <a
    [routerLink]="['/object-list']"
    routerLinkActive="activeLink"
    class="nav-link neon-blue"
    >Object list</a
  >

  <a
    [routerLink]="['/derectives']"
    routerLinkActive="activeLink"
    class="nav-link neon-blue"
    >Derectives</a
  >

  <a
    [routerLink]="['/life-cycle']"
    routerLinkActive="activeLink"
    class="nav-link neon-blue"
    >Life Cycle and Data transfers</a
  >

  <a
    [routerLink]="['/requests']"
    routerLinkActive="activeLink"
    class="nav-link neon-blue"
    >Requests and Services</a
  >

  <a
    [routerLink]="['/pipes']"
    routerLinkActive="activeLink"
    class="nav-link neon-blue"
    >Pipes</a
  >

  <a
    [routerLink]="['/forms']"
    routerLinkActive="activeLink"
    class="nav-link neon-blue"
    >Forms</a
  >

  <a
    [routerLink]="['/dynamic']"
    routerLinkActive="activeLink"
    class="nav-link neon-blue"
    >ng-template & ng-container</a
  >
</nav>

<button class="menu-toggle" aria-label="Navigation Menu" (click)="toggleNav()">
  &#9776;
</button>
