.navigation {
  width: 99dvw;
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 50px;
  margin-bottom: 20px;
  padding: 15px;
  padding-left: 50px;
  background: var(--dark-color);
  position: relative;
  details {
    position: absolute;
    left: 150px;
    background: var(--dark-color);
    padding: 0 15px 10px 16px;
  }
}

.nav-link {
  color: var(--neon);
  text-shadow: 0 0 50px var(--neon-glow), 0 0 20px var(--neon-glow);
  text-decoration: none;
  font-size: 20px;
  transition: all 0.2s ease;
}

.active {
  color: var(--neon-glow);
}
